*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  
}

.Loading-text{
text-align: center;
display: flex;
    justify-content: center;
    margin: 211px;
}

#top{
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 
}

 .dark, .light{
  display: flex;
}

.light img{
  width: 20%;
  margin-right: 10px; 
}

 .dark img{
  width: 20%;
  margin-right: 10px;
  filter: invert(100%) sepia(0%) saturate(78485) hue-rotate(196deg) brightness(106%) contrast(100%);
}

.light-mode{
background-color:  hsl(0, 0%, 98%);
color:  hsl(200, 15%, 8%);
}

.dark-mode{
background-color: hsl(207, 26%, 17%);
color: hsl(0, 0%, 100%);
}

#input-search{
  display: flex;
  justify-content: center;
  /* background-color: white; */
  width: 87%;
  margin: 30px auto;
  border-radius: 20px;
}

#input-search img{
  width: 24px;
  height: 23px;
  margin-top: 12px;
  margin-right: 10px;
  opacity: 70%;
}

#input-search input{
  width: 80%;
  height: 44px;
  border: none;
}
#input-search input:focus{
  outline:none ;
}

select{
  margin-left: 30px;
width: 145px;
padding: 12px;
border-radius: 4px;
border: none;
/* appearance: none; */
}



article{
  display: flex;
  justify-content: center;
   width: 7.9%;
   margin: 30px auto;
   text-align: left
}
article img{
  border-radius: 4px;
}

article h3{
  margin-bottom: 16px;
}

#details{
  padding: 20px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

#Country-info{
  margin-top: 40px;
  line-height: 3em;
  padding: 30px;
}

.go-back{
  display: flex;
    width: 40%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.go-back  .imageLight-mode{
  filter: invert(100%) sepia(0%) saturate(78485) hue-rotate(196deg) brightness(106%) contrast(100%);
}


.go-back h3{
  margin-left: 10px;
}


.little-space{
  margin-top: 20px;
  margin-bottom: 20px;
}


.borders{
  display: flex;
  justify-content: space-around;
  text-align: left;
    grid-gap: 3.5em;
    margin: auto;
}

.borders div{
  padding: 4px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}